@font-face {
  font-family: "New Watch";
  font-style: normal;
  font-weight: normal;
  src: local("New Watch"), url("../fonts/new-watch.woff") format("woff");
}

.calc-font {
  font-family: "New Watch";
}
